*.kdev4
.kdev_include_paths
build*

subprojects/PEGTL-2.3.3-mesonwrap/
subprojects/actor-framework-0.15.5-mesonwrap/
subprojects/asio-asio-1-11-0-mesonwrap/
subprojects/bmcl/
subprojects/decode/
subprojects/packagecache/
subprojects/photon/
subprojects/tclap-1.2.2-mesonwrap/
subprojects/toml11/
subprojects/zpaq-7.15-mesonwrap/
